
<div class="container-sm">
  <h1> <b>{{pageTitle}}</b></h1>


  <form novalidate [formGroup]="generalForm" (ngSubmit)="saveStudent()"
  autocomplete="false">
    <h3> Intake </h3>
    <section class="row">      
      <section class="col-sm-12 col-md-3">
        <div class="form-group ">         
            <label for="intakeDate" class="label-margins">intake Name</label>
            <select class="form-control" name="intakeDate"
            formControlName="intakeDate" class="form-select"
            [ngClass]="{'is-invalid': displayMessage.IntakeDate}">
              <ng-container *ngFor="let rowInta of rowsIntake">
                <option value={{convertIntakeDates(rowInta.intakeDate)}}>{{rowInta.intakeName}}</option>
              </ng-container>
              
            </select>
            <span class="warning-red">
              {{ displayMessage.IntakeDate}}
            </span>
        </div>        
      </section>
      <section class="col-sm-12 col-md-2">        
        <div class="form-group">         
          <label for="branchNum" class="label-margins">Branch Name</label>
          <select class="form-control" name="branchNum"
          formControlName ="branchNum" class="form-select"
          [ngClass]="{'is-invalid': displayMessage.branchNum}">
            <ng-container *ngFor="let bran of  rowBranch">
              <option value={{bran.branchNum}}>  {{bran.branchName}}</option>
            </ng-container>
            <span class="warning-red">
              {{ displayMessage.branchNum}}
            </span>
          </select>
        </div>
      </section>
      <section class="col-sm-12 col-md-3">        
        <div class="form-group">         
          <label for="studyProgramme" class="label-margins">Study </label> 
          <select class="form-control" name="studyProgramme"
          formControlName ="studyprogramme" class="form-select"
          [ngClass]="{'is-invalid': displayMessage.studyProgramme}">
            <ng-container *ngFor="let studyP of  rowStudyProg">
              <option value={{studyP.studyprogramme}}>  {{studyP.studyprogrammeName}}</option>
            </ng-container>
           
          </select>
            <span class="warning-red">
              {{ displayMessage.studyprogramme}}
            </span>
        </div>
      </section>  
     
    </section>    
    <hr class="hrClass">

    <h4>Select Courses</h4>
    <section class= "row">
      
      <!-- <section class="col-sm-12 col-md-6 ">
        <h4> Theology</h4>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
          <label class="form-check-label" for="defaultCheck1">
            bible and theology
          </label>
        </div>
      </section>      
      <section class="col-sm-12 col-md-6 ">
        <h4> Community Transformation</h4>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="">
          <label class="form-check-label" for="">
            It
          </label>
        </div>
      </section> -->
      <section class="col-sm-6 col-md-4">
        <div class="form-group">         
          <label for="courseCode" class="label-margins">Course Name</label>
           <select class="form-control" name="courseCode"
            formControlName ="courseCode" class="form-select">
              <ng-container *ngFor="let rowCou of  rowsCourse">
                <option value={{rowCou.courseCode}}>{{rowCou.courseName}}</option>
              </ng-container>              
            </select>
            <p class="warning-red" *ngIf="displayMessage.courseCode">
              {{ displayMessage.courseCode }}
            </p> 
        </div>

      </section>
      <section class="col-sm-6 col-md-4">
        <div class="form-group">         
          <label for="studentStatus" class="label-margins">Student Status </label> 
          <select class="form-control" name="studentStatus"
          formControlName ="studentStatus" class="form-select"
          [ngClass]="{'is-invalid': displayMessage.studentStatus}">
              <option value='prospect'> Prospect</option>
              <option value='active'> Active</option> 
              <option value='suspended'> Suspended</option>
              <option value='gradrant'> Gradrant</option>  
              <option value='graduated'> Finished</option>        
          </select>
            <span class="warning-red">
              {{ displayMessage.studentStatus}}
            </span>
        </div>
        <div class="form-group mb-2">
          <label for="studentStatus"></label>
          
          <p class="warning-red" *ngIf="displayMessage.studentStatus">
            {{ displayMessage.studentStatus }}
          </p>        
        </div>
      </section>
    </section>
    <hr class="hrClass">

    <h4>Personal Information</h4>
    <section class="row">
      <section class="col-sm-6 col-md-4">
        <div class="form-group mb-2">
          <label for="studentId">Student Id </label>
          <input type="text" class="form-control" 
          id="studentId" 
          formControlName ="studentId"
          [ngClass] ="{'is-invalid': displayMessage.studentId}"> 
          
          <p class="warning-red" *ngIf="displayMessage.studentId">
            {{ displayMessage.studentId }}
          </p>        
        </div> 
      </section> 
       <!--   don't      [ngClass]="{'is-invalid':emailMessage }"/>
        <span class="invalid-feedback">
          {{emailMessage}}
        </span> -->
        <section class="col-sm-6 col-md-4">
          <div class="form-group mb-2">          
            <label for="title" class="label-margins">Title </label> 
            <select class="form-control" name="title"
            formControlName ="title" class="form-select"
            [ngClass]="{'is-invalid': displayMessage.title}">
                <option value='Mr.'>Mr</option>
                <option value='Ms.'> Active</option> 
                <option value='Dr.'> Doctor</option>
                <option value='Pr.'> Pastor</option>  
                <option value='Rev.'> Reverend</option>  
                <option value='Bp.'> Bishop</option>
                <option value='Tr.'> Teacher</option>  
                <option value=''> Other</option>       
            </select>
              <span class="warning-red">
                {{ displayMessage.title}}
              </span>
          </div>
        </section>
      <section class="col-sm-6 col-md-4">
        <div class="form-group">
          <label for="fname">First Name </label>
          <input type="text" class="form-control" 
          id="fname"
          aria-describedby="fname"
          formControlName="fname"          
          [ngClass]="{'is-invalid': displayMessage.fname}"> 
          <span class="warning-red">
            {{ displayMessage.fname}}
          </span>         
        </div>
      </section> 
    </section>
     <!-- <input type="text" name="birthday" value="10/24/1984" /> 
            appDateField-->
    <section class="row">
      <section class="col-sm-6 col-md-4">
        <div class="form-group">
          <label for="mname">Middle Name </label>
          <input type="text" class="form-control" 
          id="mname" 
          aria-describedby="mname"
          formControlName="mname"
          [ngClass]="{'is-invalid': displayMessage.mname}">   
          <span class="warning-red">
            {{ displayMessage.mname }}
          </span>       
        </div>
       
      </section>
      <section class="col-sm-6 col-md-4">
        <div class="form-group">
          <label for="lname">Last Name </label>
          <input type="text" class="form-control" 
          id="lname" 
          aria-describedby="lname"
          formControlName="lname"
          [ngClass]="{'is-invalid': displayMessage.lname}"> 
          <span class="warning-red">
            {{ displayMessage.lname}}
          </span>         
        </div>
        
      </section>
      
      <section class="col-sm-6 col-md-4">
        <div class="form-group">
         
           
            
          <label for="birthDate">Birth Date </label>
          <input type="date"
            class="form-control" 
            id="birthDate"
            formControlName="birthDate"
            aria-describedby="birthDate"
                          
            [ngClass]="{'is-invalid': displayMessage.birthDate}">  
            <span class="warning-red">
              {{ displayMessage.birthDate}}
            </span> 
          </div>
          
      </section> 
    </section> 

    <section class="row">
      <section class="col-sm-6 col-md-4">
        <div class="form-group">
          <label for="maritalStatus">Marital Status </label>
          <select class="form-control" name="gender"
          formControlName ="maritalStatus" class="form-select"
          [ngClass]="{'is-invalid': displayMessage.maritalStatus}">
              <option value='Married'>Married</option>
              <option value='Divoiced'>Divoiced</option>
              <option value='Single'> Single</option>
              <option value='Other'> Other</option>   
          </select>
            <span class="warning-red">
              {{ displayMessage.maritalStatus }}
            </span>        
        </div>
      </section> 
      <section class="col-sm-6 col-md-4">
        <div class="form-group">
          <label for="gender">Gender </label>
          <select class="form-control" name="gender"
          formControlName ="gender" class="form-select"
          [ngClass]="{'is-invalid': displayMessage.gender}">
              <option value='Male'>Male</option>
              <option value='Female'>Female</option>  
          </select>
            <span class="warning-red">
              {{ displayMessage.gender }}
            </span>        
        </div>
      </section> 
      <!-- don't <section class="col-sm-6 col-md-4">
        <div class="form-group">
          <label for="religion">Religion </label>
          <input type="text" class="form-control" name="religion" aria-describedby="religion">          
        </div>
      </section>  -->
    </section>

    <hr class="hrClass">

    <h4>Location and Nationality</h4>
    <section class="row">
      <section class="col-sm-12 col-md-4">
        <div class="form-group">
          <label for="nation">Nation</label>
          <input type="text" class="form-control"
           id="nation" 
           aria-describedby="nation"
           formControlName="nation"
           [ngClass]="{'is-invalid': displayMessage.nation}">          
        </div>
        <span class="warning-red">
          {{ displayMessage.nation }}
        </span> 
      </section>
      <section class="col-sm-12 col-md-4">
        <div class="form-group">
          <label for="district">District </label>
          <input type="text" class="form-control" 
            id="district" 
            aria-describedby="district"
            formControlName="district"
            [ngClass]="{'is-invalid': displayMessage.district}"
            >          
            <span class="warning-red">
              {{ displayMessage.district }}
            </span>
        </div>
      </section>
      <section class="col-sm-12 col-md-4">
        <div class="form-group">
          <label for="county">County </label>
          <input type="text" class="form-control" 
            id="county" 
            aria-describedby="county"
            formControlName="county"
            [ngClass]="{'is-invalid': displayMessage.county}"> 
            <span class="warning-red">
              {{ displayMessage.county }}
            </span>         
        </div>
      </section> 
    </section> 
    
    <section class="row">
      <section class="col-sm-12 col-md-4">
        <div class="form-group">
          <label for="subCounty">Sub County </label>
          <input type="text" class="form-control" 
            id="subCounty" 
            aria-describedby="subCounty"
            formControlName="subCounty"
            [ngClass]="{'is-invalid': displayMessage.subCounty}"> 
            <span class="warning-red">
              {{ displayMessage.subCounty }}
            </span>           
        </div>
      </section> 
      <section class="col-sm-12 col-md-4">
        <div class="form-group">
          <label for="parish">Parish </label>
          <input type="text" class="form-control" 
            id="parish" 
            aria-describedby="parish"
            formControlName="parish"
            [ngClass]="{'is-invalid': displayMessage.parish}"> 
            <span class="warning-red">
              {{ displayMessage.parish }}
            </span>           
        </div>
      </section> 
      <section class="col-sm-12 col-md-4">
        <div class="form-group">
          <label for="village">Village</label>
          <input type="text" class="form-control" 
            id="village" 
            aria-describedby="village"
            formControlName="village"
            [ngClass]="{'is-invalid': displayMessage.village}"> 
            <span class="warning-red">
              {{ displayMessage.village }}
            </span>          
        </div>
      </section> 
    </section>

    <hr class="hrClass">

    <h4> Personal Contacts</h4>
    <section class="row">
      <section class="col-sm-12 col-md-4">
        <div class="form-group">
          <label for="phoneAddress1">PhoneAddress </label>
          <input type="text" class="form-control" 
            id="phoneAddress1" 
            aria-describedby="phoneAddress1"
            formControlName="phoneAddress1"
            [ngClass]="{'is-invalid': displayMessage.phoneAddress1}"> 
            <span class="warning-red">
              {{ displayMessage.phoneAddress1 }}
            </span>                    
        </div>
      </section>
      <section class="col-sm-12 col-md-4">
        <div class="form-group">
          <label for="phoneAddress2">Phone Address 2 </label>
          <input type="text" class="form-control" 
            id="phoneAddress2" 
            aria-describedby="phoneAddress2"
            formControlName="phoneAddress2"
            [ngClass]="{'is-invalid': displayMessage.phoneAddress2}"> 
            <span class="warning-red">
              {{ displayMessage.phoneAddress2 }}
            </span>                    
        </div>
      </section>
      <section class="col-sm-12 col-md-4">
        <div class="form-group">
          <label for="emailAddress">Email Address </label>
          <input type="email" class="form-control" 
           id="emailAddress" 
           aria-describedby="emailAddress"
           formControlName="emailAddress"
           [ngClass]="{'is-invalid': displayMessage.emailAddress}"> 
           <span class="warning-red">
             {{ displayMessage.emailAddress }}
           </span>                    
        </div>
      </section> 
    </section>  
   
    <!-- don't<hr class="hrClass"> -->

    <!--don't <h4>Next of Keen</h4> -->
    <!-- <section class="row">
      <section class="col-sm-12 col-md-4">
        <div class="form-group">
          <label for="keenName">Name </label>
          <input type="text" class="form-control" 
            id="keenName" 
            aria-describedby="keenName"            
            formControlName="keenName"
            [ngClass]="{'is-invalid': displayMessage.keenName}"> 
            <span class="warning-red">
              {{ displayMessage.keenName }}
            </span>                    
        </div>
      </section>
      <section class="col-sm-12 col-md-4">
        <div class="form-group">
          <label for="keenRelationship">Relationship </label>
          <input type="text" class="form-control" 
            id="keenRelationship"
            aria-describedby="keenRelationship"
            formControlName="keenRelationship"
            [ngClass]="{'is-invalid': displayMessage.keenRelationship}"> 
            <span class="warning-red">
              {{ displayMessage.keenRelationship }}
            </span>                    
        </div>
      </section>
      <section class="col-sm-12 col-md-4">
        <div class="form-group">
          <label for="keenPhone">Phone </label>
          <input type="text" class="form-control" 
            id="keenPhone" 
            aria-describedby="keenPhone"
            formControlName="keenPhone"
            [ngClass]="{'is-invalid': displayMessage.keenPhone}"> 
            <span class="warning-red">
              {{ displayMessage.keenPhone }}
            </span>          
                    
        </div>
      </section>
    </section> -->

    <!-- <section class="row">
      <section class="col-sm-6 col-md-4">
        <div class="form-group">
          <label for="keenEmail">Email </label>
          <input type="email" class="form-control" 
            id="keenEmail" 
            aria-describedby="keenEmail"
            formControlName="keenEmail"
            [ngClass]="{'is-invalid': displayMessage.keenEmail}"> 
            <span class="warning-red">
              {{ displayMessage.keenEmail }}
            </span>                   
        </div>
      </section>
      <section class="col-sm-6 col-md-4">
        <div class="form-group">
          <label for="keenAddress">Address </label>
          <input type="text" class="form-control" 
            id="keenAddress" 
            aria-describedby="keenAddress"
            formControlName="keenAddress"
            [ngClass]="{'is-invalid': displayMessage.keenAddress}"> 
            <span class="warning-red">
              {{ displayMessage.keenAddress }}
            </span>                   
        </div>
      </section>
    </section> -->

    <hr class="hrClass">

    <h4>Academics</h4>
    <section class="row">
      <section class="col-sm-6 col-md-4">
        <div class="form-group">
          <label for="educationLevel">Education Level </label>
          <select class="form-control" name="gender"
          formControlName ="educationLevel" class="form-select"
          [ngClass]="{'is-invalid': displayMessage.educationLevel}">
              <option value='O Level'>O Level</option>
              <option value='A Level'>A Level</option>
              <option value='Certificate'> Certificate</option>
              <option value='Diploma'> Diploma</option>   
              <option value='Bachelors'> Bachelors</option>
              <option value='Mastors'> Mastors</option> 
          </select>
          <span class="warning-red">
              {{ displayMessage.educationLevel }}
            </span>                    
        </div>
      </section>
      <!--  don't <section class="col-sm-12 col-md-8">
        <div class="form-group">
          <label for="institutions">Example textarea</label>
          <textarea class="form-control" id="institutions" 
            id="institutions" rows="3"
            formControlName="institutions"
            [ngClass]="{'is-invalid': displayMessage.institutions}"
            ></textarea>
            <span class="warning-red">
              {{ displayMessage.educationLevel }}
            </span> 
        </div>
      </section> -->
     </section> 
    <section class = "row">
      <section class="col-sm-12 col-md-12">
        <button 
          class="btn btn-primary mb-2"
          type="submit" 
          [title]="generalForm.valid ? 'save data ': 'Disabled until the all fields are filled'"
          [disabled]="!generalForm.valid"          
          >Save</button> &nbsp;
        <button class="btn btn-primary mb-2"
                type="button"
                title="Clear your edits"
                (click)="clearStudent()">
          Cancel
        </button> &nbsp;
        <button class="btn btn-primary mb-2"
                type="button"
                (click)="deleteStudent()">
          Delete
        </button>
      </section>
    </section>
  </form>
  <div class="alert alert-danger"
  *ngIf="errorMessage">{{errorMessage}}
</div>


</div>


