
<div class="container-md">
  
  <form>
    <h3> Intake </h3>
    <section class="row">      
      <section class="col-sm-12 col-md-4">
        <div class="form-group">         
          <label for="intakdate" class="label-margins">Intake Name</label>
            <select class="form-control" name="intakedate" class="form-select">
              <option>choose intake</option>
            </select>
        </div>
      </section>
    </section>  
    

    <h4>Personal Information</h4>
    <section class="row">
      <section class="col-sm-6 col-md-2">
        <div class="form-group">
          <label for="studentId">Student Id </label>
          <input type="text" class="form-control" name="studentId" aria-describedby="studentId">          
        </div>
      </section>
      <section class="col-sm-6 col-md-1">
        <div class="form-group">
          <label for="title">Title </label>
          <input type="text" class="form-control" name="title" aria-describedby="title">          
        </div>
      </section>
      <section class="col-sm-6 col-md-3">
        <div class="form-group">
          <label for="fname">First Name </label>
          <input type="text" class="form-control" name="fname" aria-describedby="fname">          
        </div>
      </section>
      <section class="col-sm-6 col-md-3">
        <div class="form-group">
          <label for="lname">Last Name </label>
          <input type="text" class="form-control" name="lname" aria-describedby="lname">          
        </div>
      </section>
    </section>
    <section class = "row">
      <section class="col-sm-12 col-md-12">
        <button type="submit" class="btn btn-primary mb-2">Save</button> &nbsp;
        <button type="submit" class="btn btn-primary mb-2">Cancel</button>
      </section>
    </section>
  </form>

</div>


