<div class="container-md">
  <h2> Enroll Students for the Semester</h2>
  <form (ngSubmit)="search()" [formGroup]="generalForm" novalidate autocomplete="false">
    <h3> Intake </h3>
    <section class="row">      
      <section class="col-sm-6 col-md-3">
        <div class="form-group ">         
          <label for="intakeDate" class="label-margins">intake Name</label>
          <select class="form-control" name="intakeDate"
          formControlName="intakeDate" class="form-select"
          [ngClass]="{'is-invalid': displayMessage.IntakeDate}">
            <ng-container *ngFor="let rowInta of rowsIntake">
              <option value={{rowInta.intakeDate}}>{{rowInta.intakeName}}</option>
            </ng-container>
            
          </select>
          <span class="warning-red">
            {{ displayMessage.IntakeDate}}
          </span>
        </div>
      </section>
      <section class="col-sm-6 col-md-3">        
        <div class="form-group">         
          <label for="studyProgramme" class="label-margins">Programme</label>
          <select class="form-control" name="studyProgramme"
              formControlName="studyProgramme" class="form-select">
            <ng-container *ngFor="let rowstudy of rowsStudy">
              <option value={{rowstudy.studyProgramme}}>{{rowstudy.studyProgramme}}</option>
            </ng-container>
          </select>
        </div>
      </section> 

      <section class="col-sm-6 col-md-6">        
        <div class="form-group">         
          <label for="courseCode" class="label-margins">Course Name</label>
          <select class="form-control" name="courseCode"
          formControlName ="courseCode" class="form-select">
            <ng-container *ngFor="let rowCou of  rowsCourse">
              <option value={{rowCou.courseCode}}>{{rowCou.courseName}}</option>
            </ng-container>
          </select>
        </div>
      </section>

    </section> 
    <section class="row">
      
      <section class="col-sm-6 col-md-3">
        <div class="form-group ">         
          <label for="semesterDateCode" class="label-margins">semester Date</label>
            <select class="form-control" name="semesterDateCode"
            formControlName ="semesterDateCode" class="form-select">
              <ng-container *ngFor="let rowSem of  rowsSemesterDate">
                <option value={{rowSem.semesterDateCode}}>{{rowSem.semesterDateName }}</option>
              </ng-container>
              
            </select>
        </div>
      </section>
      <section class="col-sm-6 col-md-3">
        <div class="form-group ">         
          <label for="semesterNum" class="label-margins">semester Num </label> 
          <select class="form-control" name="semesterNum" class="form-select"
          formControlName ="semesterNum">
            <ng-container *ngFor="let rowSemName of  rowsSemesterName ">
              <option value={{rowSemName.semesterNum}}>{{rowSemName.semesterName }}</option>
            </ng-container>
            
          </select> 
        </div>
      </section>
      <section class="col-sm-6 col-md-2">
        <button type="submit" class="btn btn-primary mb-2">Search</button> 
      </section>
    </section>   
  </form>   
 

    <section class="row">
      <section class="col-sm-12 col-md-12">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Student Id</th>
              <th scope="col"> First Name</th>
              <th scope="col">Last  Name</th>
              <th scope="col">Action</th>
              
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let row of rowsEnroll">
              <tr>
                <td>{{row.studentId}}</td>
                <td>{{row.fname}}</td>
                <td>{{row.lname}}</td>
                 <td></td>
                
                <td><a  class="btn btn-primary" target="_blank" rel="noreferrer noopener"
                  [routerLink]= "['/registry/enrollstudentAdd', { semCode: getSemesterDateCode(), semNum: getSemesterNum(), courseCode:getCourseCode(),studId: row.studentId }]"
                  >Enroll</a></td>
              </tr>


              <!--  -->
            </ng-container>
          </tbody>
        </table>
        
      </section>
    </section> 
   
 
</div>