
<div class="container-sm">
  <form  (ngSubmit)="saves()" [formGroup]="generalForm" novalidate autocomplete="false">
    <h1> <b>{{pageTitle}}</b></h1>
    <h5> Search Terms</h5>
    <section class="row">      
      <section class="col-sm-12 col-md-4">
        <div class="form-group">         
          <label for="departCode" class="label-margins">Department</label>
            <select class="form-control"  class="form-select"
              id="departCode"
              formControlName="departCode"
              [ngClass]="{'is-invalid': displayMessage.departCode}">
              <ng-container *ngFor="let depart of  rowDepart">
                <option value={{depart.departCode}}>  {{depart.departName}}</option>
              </ng-container>
            </select>
            <span class="warning-red">
              {{ displayMessage.departCode}}
            </span>
        </div>
      </section>
      <section class="col-sm-12 col-md-2">        
        <div class="form-group">         
          <label for="branchNum" class="label-margins">Branch Name</label>
          <select class="form-control" name="branchNum"
          formControlName ="branchNum" class="form-select"
          [ngClass]="{'is-invalid': displayMessage.branchNum}">
            <ng-container *ngFor="let bran of  rowBranch">
              <option value={{bran.branchNum}}>  {{bran.branchName}}</option>
            </ng-container>
            <span class="warning-red">
              {{ displayMessage.branchNum}}
            </span>
          </select>
        </div>
      </section>
      <!-- <section class="col-sm-12 col-md-4">        
        <div class="form-group">         
          <label for="role" class="label-margins">Role </label>
            <select class="form-control"  class="form-select"
              id="role"
              formControlName="role"
              [ngClass]="{'is-invalid': displayMessage.role}"
            >
              <option></option>
              <option>choose role</option>
            </select>
            <span class="warning-red">
              {{ displayMessage.role}}
            </span>
        </div>
      </section>  -->
     </section>   
    <hr class="hrClass">

    <h4>Personal Information</h4>
    <section class="row">
      <section class="col-sm-6 col-md-4">
        <div class="form-group mb-2">
          <label for="adminId">admin Id </label>
          <input type="text" class="form-control" 
          id="adminId" 
          aria-describedby="adminId"
          formControlName ="adminId"
          [ngClass] ="{'is-invalid': displayMessage.adminId}">  
          <span class="warning-red" *ngIf="displayMessage.adminId">
            {{ displayMessage.adminId }}
          </span>        
        </div>
 
      </section>
      <section class="col-sm-6 col-md-4">
        <div class="form-group mb-2">          
          <label for="title" class="label-margins">Title </label> 
          <select class="form-control" name="title"
          formControlName ="title" class="form-select"
          [ngClass]="{'is-invalid': displayMessage.title}">
              <option value='Mr.'>Mr</option>
              <option value='Ms.'> Active</option> 
              <option value='Dr.'> Doctor</option>
              <option value='Pr.'> Pastor</option>  
              <option value='Rev.'> Reverend</option>  
              <option value='Bp.'> Bishop</option>
              <option value='Tr.'> Teacher</option>  
              <option value=''> Other</option>       
          </select>
            <span class="warning-red">
              {{ displayMessage.title}}
            </span>
        </div>
      </section>
      <section class="col-sm-6 col-md-4">
        <div class="form-group">
          <label for="fname">First Name </label>
          <input type="text" class="form-control" 
          id="fname"
          aria-describedby="fname"
          formControlName="fname"          
          [ngClass]="{'is-invalid': displayMessage.fname}"> 
          <span class="warning-red">
            {{ displayMessage.fname}}
          </span>         
        </div>
      </section>
    </section>
    <section class="row">
      <section class="col-sm-6 col-md-4">
        <div class="form-group">
          <label for="mname">Middle Name </label>
          <input type="text" class="form-control" 
          id="mname" 
          aria-describedby="mname"
          formControlName="mname"
          [ngClass]="{'is-invalid': displayMessage.mname}">   
          <span class="warning-red">
            {{ displayMessage.mname }}
          </span>       
        </div>
       
      </section>
      <section class="col-sm-6 col-md-4">
        <div class="form-group">
          <label for="lname">Last Name </label>
          <input type="text" class="form-control" 
          id="lname" 
          aria-describedby="lname"
          formControlName="lname"
          [ngClass]="{'is-invalid': displayMessage.lname}"> 
          <span class="warning-red">
            {{ displayMessage.lname}}
          </span>         
        </div>
        
      </section>
      <!-- <section class="col-sm-6 col-md-4">
        <div class="form-group">
          <label for="birthDate">Birth Date </label>
          <input type="date"
            class="form-control" 
            id="birthDate"
            formControlName="birthDate"
            aria-describedby="birthDate"                       
            [ngClass]="{'is-invalid': displayMessage.birthDate}">    
            <span class="warning-red">
              {{ displayMessage.birthDate}}
            </span> 
          </div>
          
      </section>  -->
    </section>

    <section class="row">
      <section class="col-sm-6 col-md-4">
        <div class="form-group">
          <label for="maritalStatus">Marital Status </label>
          <select class="form-control" name="gender"
          formControlName ="maritalStatus" class="form-select"
          [ngClass]="{'is-invalid': displayMessage.maritalStatus}">
              <option value='Married'>Married</option>
              <option value='Divoiced'>Divoiced</option>
              <option value='Single'> Single</option>
              <option value='Other'> Other</option>   
          </select>
            <span class="warning-red">
              {{ displayMessage.maritalStatus }}
            </span>        
        </div>
      </section> 
      <section class="col-sm-6 col-md-4">
        <div class="form-group">
          <label for="gender">Gender </label>
          <select class="form-control" name="gender"
          formControlName ="gender" class="form-select"
          [ngClass]="{'is-invalid': displayMessage.gender}">
              <option value='Male'>Male</option>
              <option value='Female'>Female</option>  
          </select>
            <span class="warning-red">
              {{ displayMessage.gender }}
            </span>        
        </div>
      </section> 
      <!-- <section class="col-sm-6 col-md-4">
        <div class="form-group">
          <label for="religion">Religion </label>
          <input type="text" class="form-control" name="religion" aria-describedby="religion">          
        </div>
      </section>  -->
    </section>

    <hr class="hrClass">

    <h4>Location and Nationality</h4>
    <section class="row">
      <section class="col-sm-12 col-md-4">
        <div class="form-group">
          <label for="nation">Nation</label>
          <input type="text" class="form-control"
           id="nation" 
           aria-describedby="nation"
           formControlName="nation"
           [ngClass]="{'is-invalid': displayMessage.nation}">          
        </div>
        <span class="warning-red">
          {{ displayMessage.nation }}
        </span> 
      </section>
      <section class="col-sm-12 col-md-4">
        <div class="form-group">
          <label for="district">District </label>
          <input type="text" class="form-control" 
            id="district" 
            aria-describedby="district"
            formControlName="district"
            [ngClass]="{'is-invalid': displayMessage.district}"
            >          
            <span class="warning-red">
              {{ displayMessage.district }}
            </span>
        </div>
      </section>
      <section class="col-sm-12 col-md-4">
        <div class="form-group">
          <label for="county">County </label>
          <input type="text" class="form-control" 
            id="county" 
            aria-describedby="county"
            formControlName="county"
            [ngClass]="{'is-invalid': displayMessage.county}"> 
            <span class="warning-red">
              {{ displayMessage.county }}
            </span>         
        </div>
      </section> 
    </section>
    
    <section class="row">
      <section class="col-sm-12 col-md-4">
        <div class="form-group">
          <label for="subCounty">Sub County </label>
          <input type="text" class="form-control" 
            id="subCounty" 
            aria-describedby="subCounty"
            formControlName="subCounty"
            [ngClass]="{'is-invalid': displayMessage.subCounty}"> 
            <span class="warning-red">
              {{ displayMessage.subCounty }}
            </span>           
        </div>
      </section> 
      <section class="col-sm-12 col-md-4">
        <div class="form-group">
          <label for="parish">Parish </label>
          <input type="text" class="form-control" 
            id="parish" 
            aria-describedby="parish"
            formControlName="parish"
            [ngClass]="{'is-invalid': displayMessage.parish}"> 
            <span class="warning-red">
              {{ displayMessage.parish }}
            </span>           
        </div>
      </section> 
      <section class="col-sm-12 col-md-4">
        <div class="form-group">
          <label for="village">Village</label>
          <input type="text" class="form-control" 
            id="village" 
            aria-describedby="village"
            formControlName="village"
            [ngClass]="{'is-invalid': displayMessage.village}"> 
            <span class="warning-red">
              {{ displayMessage.village }}
            </span>          
        </div>
      </section> 
    </section>

    <hr class="hrClass">

    <h4> Personal Contacts</h4>
    <section class="row">
      <section class="col-sm-12 col-md-4">
        <div class="form-group">
          <label for="phoneAddress1">PhoneAddress </label>
          <input type="text" class="form-control" 
            id="phoneAddress1" 
            aria-describedby="phoneAddress1"
            formControlName="phoneAddress1"
            [ngClass]="{'is-invalid': displayMessage.phoneAddress1}"> 
            <span class="warning-red">
              {{ displayMessage.phoneAddress1 }}
            </span>                    
        </div>
      </section>
      <section class="col-sm-12 col-md-4">
        <div class="form-group">
          <label for="phoneAddress2">Phone Address 2 </label>
          <input type="text" class="form-control" 
            id="phoneAddress2" 
            aria-describedby="phoneAddress2"
            formControlName="phoneAddress2"
            [ngClass]="{'is-invalid': displayMessage.phoneAddress2}"> 
            <span class="warning-red">
              {{ displayMessage.phoneAddress2 }}
            </span>                    
        </div>
      </section>
      <section class="col-sm-12 col-md-4">
        <div class="form-group">
          <label for="emailAddress">Email Address </label>
          <input type="email" class="form-control" 
           id="emailAddress" 
           aria-describedby="emailAddress"
           formControlName="emailAddress"
           [ngClass]="{'is-invalid': displayMessage.emailAddress}"> 
           <span class="warning-red">
             {{ displayMessage.emailAddress }}
           </span>                    
        </div>
      </section> 
    </section>  
   
    <hr class="hrClass">

    <h4>Login Details</h4>

    <h4>UserName and password</h4>
    <section class="row">
      <section class="col-sm-6 col-md-4">
        <div class="form-group">
          <label for="username">username </label>
          <input type="text" class="form-control" 
            id="username" 
            aria-describedby="username"
            formControlName="username"
            [ngClass]="{'is-invalid': displayMessage.username}"> 
            <span class="warning-red">
              {{ displayMessage.username }}
            </span>                    
        </div>
      </section>
      <section class="col-sm-12 col-md-4">
        <div class="form-group">
          <label for="passwords">password </label>
          <input type="text" class="form-control" 
            id="passwords" 
            aria-describedby="passwords"
            formControlName="passwords"
            [ngClass]="{'is-invalid': displayMessage.passwords}"> 
            <span class="warning-red">
              {{ displayMessage.passwords}}
            </span>                    
        </div>
      </section>
    </section>
    <section class = "row">
      <section class="col-sm-12 col-md-12">
        <button 
          class="btn btn-primary mb-2"
          type="submit" 
          [title]="generalForm.valid ? 'save data ': 'Disabled until the all fields are filled'"
          [disabled]="!generalForm.valid"          
          >Save</button> &nbsp;
        <button type="submit" class="btn btn-primary mb-2">Cancel</button> &nbsp;
        <button class="btn btn-primary mb-2"
                type="button"
                (click)="deletes()">
          Delete
        </button>
      </section>
    </section>
  </form>



</div>


