
<div class="container-md">
  
  <form (ngSubmit)="saves()" [formGroup]="generalForm" novalidate autocomplete="false">
    <h1><b>{{pageTitle}}</b></h1>
    <!-- <h3> Create Intake Date </h3> -->
    <section class="row">      
      <section class="col-sm-6 col-md-3">
        <div class="form-group">
          <label for="intakeDate">Intake Date </label>
          <input 
            type="date" 
            class="form-control"
            aria-describedby="intakeDate"
            formControlName ="intakeDate"
            [ngClass] = "{'is-invalid': displayMessage.intakeDate}" 
            >          
            <span class="warning-red" *ngIf="displayMessage.intakeDate">
              {{ displayMessage.intakeDate }}
            </span>
        </div>
      </section>
      <section class="col-sm-6 col-md-7">
        <div class="form-group">
          <label for="intakeName">Intake Name </label>
          <input 
            type="text" 
            class="form-control"
            aria-describedby="intakeName"
            formControlName ="intakeName"
            [ngClass] = "{'is-invalid': displayMessage.intakeName}" 
            >          
            <span class="warning-red" *ngIf="displayMessage.intakeName">
              {{ displayMessage.intakeName }}
            </span>    
        </div>
      </section>
      <section class="col-sm-6 col-md-2">
        <div class="form-group">
          <button type="submit" class="btn btn-primary mb-2 button-margin">Save</button> &nbsp;
          <a class="btn btn-primary" class="btn btn-primary mb-2 button-margin" role="button" (click)="deletes()">Delete</a>    
        </div>  
        
      </section>
    </section>  
  </form>  

</div> 
   



