<div class="container-md">
  
  <form>
    <h3> Search Semester Dates </h3>
    <section class="row">      
      <section class="col-sm-6 col-md-3">
          <div class="form-group">
            <label for="semesterDateName">Semester Date Name</label>
            <input type="text" class="form-control" name="semesterDateName" aria-describedby="semesterDateName"
            [(ngModel)]='listFilter' placeholder="Enter Semester Date Name">          
          </div>        
      </section>      
     
    </section>    
  </form>  
    
    <h4>Semester Dates</h4>
    <section class="row">
      <section class="col-sm-12 col-md-12">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Semester Date Code</th>
              <th scope="col">Semester Date Name</th>
              <th scope="col">Study Programme</th>
              <th scope="col">Start Date</th>
              <th scope="col">End Date</th>
              <th scope="col">Edit</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let row of filteredSearch">
              <tr>
                <td>{{row.semesterDateCode}}</td>
                <td>{{row.semesterDateName}}</td>
                <td>{{row.studyProgramme}}</td>
                <td>{{row.startDate| date:'dd/MM/yyyy'}}</td>
                <td>{{row.endDate| date:'dd/MM/yyyy'}}</td>
                <td><a class="btn btn-primary" 
                     [routerLink]="['/structure/semesterdateEdit',row.semesterDateCode ]" role="button">Edit</a></td>
              </tr>
             </ng-container>
          </tbody>
        </table>
      
      </section>
    </section>
</div>