
<div class="container-md">
  
  <form>
    <h3> Intake </h3>
    <section class="row">      
      <section class="col-sm-6 col-md-2">
        <div class="form-group ">         
          <label for="courseunitcode" class="label-margins">intake Name</label>
            <select class="form-control" name="courseunitcode" class="form-select">
              <option>Intake</option>
            </select>
        </div>
      </section>
      <section class="col-sm-6 col-md-3">        
        <div class="form-group">         
          <label for="admincode" class="label-margins">Course Name</label>
            <select class="form-control" name="admincode" class="form-select">
              <option>admincode</option>
            </select>
        </div>
      </section> 
      <section class="col-sm-6 col-md-4">        
        <div class="form-group">         
          <label for="semesterDateCode" class="label-margins">Branch Name</label>
            <select class="form-control" name="semesterDateCode" class="form-select">
              <option>choose semesterdate name</option>
            </select>
        </div>
      </section> 
      <section class="col-sm-6 col-md-3">
        <button type="submit" class="btn btn-primary mb-2">Search</button> 
      </section>
    </section>    
  </form>  

  <form>
    
    <section class="row">      
      <section class="col-sm-6 col-md-2">
        <div class="form-group ">         
            <label for="courseunitcode">course Unit Code</label>
            <input type="text" class="form-control" name="courseunitcode" aria-describedby="courseunitcode">          
        </div>
      </section>
      <section class="col-sm-6 col-md-3">        
        <div class="form-group">         
          <label for="admincode" class="label-margins">Lecturer</label>
            <select class="form-control" name="admincode" class="form-select">
              <option>lect</option>
            </select>
        </div>
      </section> 
      <section class="col-sm-6 col-md-4">        
        <div class="form-group">         
          <label for="notes">notes</label>
          <input type="text" class="form-control" name="notes" aria-describedby="notes">   
        </div>
      </section> 
      <section class="col-sm-6 col-md-3">
        <button type="submit" class="btn btn-primary mb-2">Save</button> 
      </section>
    </section>    
  </form>  

</div>


