
<div class="container-sm">
  <form  (ngSubmit)="save()" [formGroup]="generalForm" novalidate autocomplete="false">
    <h3> Department</h3>
    <section class="row">      
      <section class="col-sm-12 col-md-4">
        <div class="form-group">         
          <label for="departCode" class="label-margins">Department</label>
            <select class="form-control"  class="form-select"
              id="departCode"
              formControlName="departCode"
              [ngClass]="{'is-invalid': displayMessage.departCode}">
              <option></option>
              <option>choose intake</option>
            </select>
            <span class="warning-red">
              {{ displayMessage.departCode}}
            </span>
        </div>
      </section>
      <section class="col-sm-12 col-md-4">        
        <div class="form-group">         
          <label for="branchNum" class="label-margins">Branch Name</label>
            <select class="form-control" class="form-select"
              id="branchNum"
              formControlName="branchNum"
              [ngClass]="{'is-invalid': displayMessage.branchNum}"
            >
              <option></option>
              <option>choose Branch</option>
            </select>
            <span class="warning-red">
              {{ displayMessage.branchNum}}
            </span>
        </div>
      </section>
      <section class="col-sm-12 col-md-4">        
        <div class="form-group">         
          <label for="role" class="label-margins">Role </label>
            <select class="form-control"  class="form-select"
              id="role"
              formControlName="role"
              [ngClass]="{'is-invalid': displayMessage.role}"
            >
              <option></option>
              <option>choose role</option>
            </select>
            <span class="warning-red">
              {{ displayMessage.role}}
            </span>
        </div>
      </section> 
     
    </section>    
    <hr class="hrClass">

    <h4>Personal Information</h4>
    <section class="row">
      <section class="col-sm-6 col-md-4">
        <div class="form-group mb-2">
          <label for="adminId">admin Id </label>
          <input type="text" class="form-control" 
          id="adminId" 
          aria-describedby="adminId"
          formControlName ="adminId"
          [ngClass] ="{'is-invalid': displayMessage.adminId}">  
          <span class="warning-red" *ngIf="displayMessage.adminId">
            {{ displayMessage.adminId }}
          </span>        
        </div>
 
      </section>
      <section class="col-sm-6 col-md-4">
        <div class="form-group">
          <label for="titleId">Title </label>
          <input type="text" class="form-control" id="titleId"
          aria-describedby="titleId"
          formControlName="title"
          [ngClass]="{'is-invalid': displayMessage.title}"> 
          <span class="warning-red">
            {{ displayMessage.title }}
          </span>         
        </div>
      </section>
      <section class="col-sm-6 col-md-4">
        <div class="form-group">
          <label for="fname">First Name </label>
          <input type="text" class="form-control" 
          id="fname"
          aria-describedby="fname"
          formControlName="fname"          
          [ngClass]="{'is-invalid': displayMessage.fname}"> 
          <span class="warning-red">
            {{ displayMessage.fname}}
          </span>         
        </div>
      </section>
    </section>
    <section class="row">
      <section class="col-sm-6 col-md-4">
        <div class="form-group">
          <label for="mName">Middle Name </label>
          <input type="text" class="form-control" 
          id="mName" 
          aria-describedby="mName"
          formControlName="mName"
          [ngClass]="{'is-invalid': displayMessage.mName}">   
          <span class="warning-red">
            {{ displayMessage.mName }}
          </span>       
        </div>
       
      </section>
      <section class="col-sm-6 col-md-4">
        <div class="form-group">
          <label for="lname">Last Name </label>
          <input type="text" class="form-control" 
          id="lname" 
          aria-describedby="lname"
          formControlName="lname"
          [ngClass]="{'is-invalid': displayMessage.lname}"> 
          <span class="warning-red">
            {{ displayMessage.lname}}
          </span>         
        </div>
        
      </section>
      <section class="col-sm-6 col-md-4">
        <div class="form-group">
          <label for="birthDate">Birth Date </label>
          <input type="text" class="form-control" 
            id="birthDate"
            formControlName="birthDate"
            aria-describedby="birthDate"
            [ngClass]="{'is-invalid': displayMessage.birthDate}">  
            <span class="warning-red">
              {{ displayMessage.birthDate}}
            </span> 
          </div>
          
      </section> 
    </section>

    <section class="row">
      <section class="col-sm-6 col-md-4">
        <div class="form-group">
          <label for="gender">Gender </label>
          <input type="text" class="form-control" 
           id="gender"
           aria-describedby="gender"
           formControlName="gender"
           [ngClass]="{'is-invalid': displayMessage.gender}"> 
           <span class="warning-red">
            {{ displayMessage.gender}}
          </span>   
        </div>
        
      </section>
      <section class="col-sm-6 col-md-4">
        <div class="form-group">
          <label for="maritalStatus">Marital Status </label>
          <input type="text" class="form-control" 
            id="maritalStatus" 
            aria-describedby="maritalStatus"
            formControlName="maritalStatus"
            [ngClass]="{'is-invalid': displayMessage.maritalStatus}">  
            <span class="warning-red">
              {{ displayMessage.maritalStatus }}
            </span>        
        </div>
      </section>
      <!-- <section class="col-sm-6 col-md-4">
        <div class="form-group">
          <label for="religion">Religion </label>
          <input type="text" class="form-control" name="religion" aria-describedby="religion">          
        </div>
      </section>  -->
    </section>

    <hr class="hrClass">

    <h4>Location and Nationality</h4>
    <section class="row">
      <section class="col-sm-12 col-md-4">
        <div class="form-group">
          <label for="nation">Nation</label>
          <input type="text" class="form-control"
           id="nation" 
           aria-describedby="nation"
           formControlName="nation"
           [ngClass]="{'is-invalid': displayMessage.nation}">          
        </div>
        <span class="warning-red">
          {{ displayMessage.nation }}
        </span> 
      </section>
      <section class="col-sm-12 col-md-4">
        <div class="form-group">
          <label for="district">District </label>
          <input type="text" class="form-control" 
            id="district" 
            aria-describedby="district"
            formControlName="district"
            [ngClass]="{'is-invalid': displayMessage.district}"
            >          
            <span class="warning-red">
              {{ displayMessage.district }}
            </span>
        </div>
      </section>
      <section class="col-sm-12 col-md-4">
        <div class="form-group">
          <label for="county">County </label>
          <input type="text" class="form-control" 
            id="county" 
            aria-describedby="county"
            formControlName="county"
            [ngClass]="{'is-invalid': displayMessage.county}"> 
            <span class="warning-red">
              {{ displayMessage.county }}
            </span>         
        </div>
      </section> 
    </section>
    
    <section class="row">
      <section class="col-sm-12 col-md-4">
        <div class="form-group">
          <label for="subCounty">Sub County </label>
          <input type="text" class="form-control" 
            id="subCounty" 
            aria-describedby="subCounty"
            formControlName="subCounty"
            [ngClass]="{'is-invalid': displayMessage.subCounty}"> 
            <span class="warning-red">
              {{ displayMessage.subCounty }}
            </span>           
        </div>
      </section> 
      <section class="col-sm-12 col-md-4">
        <div class="form-group">
          <label for="parish">Parish </label>
          <input type="text" class="form-control" 
            id="parish" 
            aria-describedby="parish"
            formControlName="parish"
            [ngClass]="{'is-invalid': displayMessage.parish}"> 
            <span class="warning-red">
              {{ displayMessage.parish }}
            </span>           
        </div>
      </section> 
      <section class="col-sm-12 col-md-4">
        <div class="form-group">
          <label for="village">Village</label>
          <input type="text" class="form-control" 
            id="village" 
            aria-describedby="village"
            formControlName="village"
            [ngClass]="{'is-invalid': displayMessage.village}"> 
            <span class="warning-red">
              {{ displayMessage.village }}
            </span>          
        </div>
      </section> 
    </section>

    <hr class="hrClass">

    <h4> Personal Contacts</h4>
    <section class="row">
      <section class="col-sm-12 col-md-4">
        <div class="form-group">
          <label for="phoneAddress1">PhoneAddress </label>
          <input type="text" class="form-control" 
            id="phoneAddress1" 
            aria-describedby="phoneAddress1"
            formControlName="phoneAddress1"
            [ngClass]="{'is-invalid': displayMessage.phoneAddress1}"> 
            <span class="warning-red">
              {{ displayMessage.phoneAddress1 }}
            </span>                    
        </div>
      </section>
      <section class="col-sm-12 col-md-4">
        <div class="form-group">
          <label for="phoneAddress2">Phone Address 2 </label>
          <input type="text" class="form-control" 
            id="phoneAddress2" 
            aria-describedby="phoneAddress2"
            formControlName="phoneAddress2"
            [ngClass]="{'is-invalid': displayMessage.phoneAddress2}"> 
            <span class="warning-red">
              {{ displayMessage.phoneAddress2 }}
            </span>                    
        </div>
      </section>
      <section class="col-sm-12 col-md-4">
        <div class="form-group">
          <label for="emailAddress">Email Address </label>
          <input type="email" class="form-control" 
           id="emailAddress" 
           aria-describedby="emailAddress"
           formControlName="emailAddress"
           [ngClass]="{'is-invalid': displayMessage.emailAddress}"> 
           <span class="warning-red">
             {{ displayMessage.emailAddress }}
           </span>                    
        </div>
      </section> 
    </section>  
   
    <hr class="hrClass">

    <!-- <h4>Next of Keen</h4>
    <section class="row">
      <section class="col-sm-12 col-md-4">
        <div class="form-group">
          <label for="keenName">Name </label>
          <input type="text" class="form-control" 
            id="keenName" 
            aria-describedby="keenName"            
            formControlName="keenName"
            [ngClass]="{'is-invalid': displayMessage.keenName}"> 
            <span class="warning-red">
              {{ displayMessage.keenName }}
            </span>                    
        </div>
      </section>
      <section class="col-sm-12 col-md-4">
        <div class="form-group">
          <label for="keenRelationship">Relationship </label>
          <input type="text" class="form-control" 
            id="keenRelationship"
            aria-describedby="keenRelationship"
            formControlName="keenRelationship"
            [ngClass]="{'is-invalid': displayMessage.keenRelationship}"> 
            <span class="warning-red">
              {{ displayMessage.keenRelationship }}
            </span>                    
        </div>
      </section>
      <section class="col-sm-12 col-md-4">
        <div class="form-group">
          <label for="keenPhone">Phone </label>
          <input type="text" class="form-control" 
            id="keenPhone" 
            aria-describedby="keenPhone"
            formControlName="keenPhone"
            [ngClass]="{'is-invalid': displayMessage.keenPhone}"> 
            <span class="warning-red">
              {{ displayMessage.keenPhone }}
            </span>          
                    
        </div>
      </section>
    </section>

    <section class="row">
      <section class="col-sm-6 col-md-4">
        <div class="form-group">
          <label for="keenEmail">Email </label>
          <input type="email" class="form-control" 
            id="keenEmail" 
            aria-describedby="keenEmail"
            formControlName="keenEmail"
            [ngClass]="{'is-invalid': displayMessage.keenEmail}"> 
            <span class="warning-red">
              {{ displayMessage.keenEmail }}
            </span>                   
        </div>
      </section>
      <section class="col-sm-6 col-md-4">
        <div class="form-group">
          <label for="keenAddress">Address </label>
          <input type="text" class="form-control" 
            id="keenAddress" 
            aria-describedby="keenAddress"
            formControlName="keenAddress"
            [ngClass]="{'is-invalid': displayMessage.keenAddress}"> 
            <span class="warning-red">
              {{ displayMessage.keenAddress }}
            </span>                   
        </div>
      </section>
    </section>

    <hr class="hrClass"> -->

    <h4>UserName and password</h4>
    <section class="row">
      <section class="col-sm-6 col-md-4">
        <div class="form-group">
          <label for="username">username </label>
          <input type="text" class="form-control" 
            id="username" 
            aria-describedby="username"
            formControlName="username"
            [ngClass]="{'is-invalid': displayMessage.username}"> 
            <span class="warning-red">
              {{ displayMessage.username }}
            </span>                    
        </div>
      </section>
      <section class="col-sm-12 col-md-4">
        <div class="form-group">
          <label for="password">password </label>
          <input type="text" class="form-control" 
            id="password" 
            aria-describedby="password"
            formControlName="password"
            [ngClass]="{'is-invalid': displayMessage.password}"> 
            <span class="warning-red">
              {{ displayMessage.password}}
            </span>                    
        </div>
      </section>
    </section>
    <section class = "row">
      <section class="col-sm-12 col-md-12">
        <button 
          class="btn btn-primary mb-2"
          type="submit" 
          [title]="generalForm.valid ? 'save data ': 'Disabled until the all fields are filled'"
          [disabled]="!generalForm.valid"          
          >Save</button> &nbsp;
        <button type="submit" class="btn btn-primary mb-2">Cancel</button>
      </section>
    </section>
  </form>



</div>


