
<div class="container-md">
  
  <form (ngSubmit)="saves()" [formGroup]="generalForm" novalidate autocomplete="false">
    <h1><b>{{pageTitle}}</b></h1>
    <h3> Create Semester Name </h3>
    <section class="row">      
      <section class="col-sm-6 col-md-4">
        <div class="form-group">
          <label for="semesterName">Semester Number </label>
          <input 
            type="text" 
            class="form-control" 
            name="semesterNum" 
            aria-describedby="semesterNum"
            formControlName ="semesterNum"
            [ngClass]="{'is-invalid': displayMessage.semesterNum}">  
            <span class="warning-red" *ngIf="displayMessage.semesterNum">
              {{ displayMessage.semesterNum}}
            </span>        
        </div>
      </section>
      <section class="col-sm-6 col-md-4">
        <div class="form-group">
          <label for="semesterName">Semester Name </label>
          <input 
          type="text" 
          class="form-control" 
          name="semesterName" 
          aria-describedby="semesterName"
          formControlName ="semesterName"
            [ngClass]="{'is-invalid': displayMessage.semesterName}"> 
          <span class="warning-red" *ngIf="displayMessage.semesterName">
            {{ displayMessage.semesterName}}
          </span>         
        </div>
      </section>
      <section class="col-sm-6 col-md-4">
        <div class="form-group">
          <button type="submit" class="btn btn-primary mb-2 button-margin">Save</button> &nbsp;
          <a class="btn btn-primary" class="btn btn-primary mb-2 button-margin" role="button" (click)="deleteOne()">Delete</a> 
        </div>
      </section>
    </section>  
  </form>  

</div> 
 

