<!-- 
<div class="container-md">
  
  <form>
    <h3> Intake </h3>
    <section class="row">      
      <section class="col-sm-6 col-md-2">
        <div class="form-group ">         
          <label for="intakeName" class="label-margins">intake Name</label>
            <select class="form-control" name="intakeName" class="form-select">
              <option>Intake</option>
            </select>
        </div>
      </section>
      <section class="col-sm-6 col-md-3">        
        <div class="form-group">         
          <label for="studyprogramme" class="label-margins">Study Programme</label>
            <select class="form-control" name="studyprogramme" class="form-select">
              <option>StudyProgramme</option>
            </select>
        </div>
      </section> 
      <section class="col-sm-6 col-md-3">        
        <div class="form-group">         
          <label for="branchName" class="label-margins">Branch Name</label>
            <select class="form-control" name="branchName" class="form-select">
              <option>choose branch Name</option>
            </select>
        </div>
      </section> 
      <section class="col-sm-6 col-md-2">
        <div class="form-group ">         
          <label for="studentstatus" class="label-margins">Status</label>
            <select class="form-control" name="status" class="form-select">
              <option>gradua</option>
            </select>
        </div>
      </section>
      <section class="col-sm-6 col-md-2">
        <button type="submit" class="btn btn-primary mb-2">Search</button> 
      </section>
    </section>    
  </form>  
    
    <h4>Student Names</h4>
    <section class="row">
      <section class="col-sm-12 col-md-12">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Student Id</th>
              <th scope="col">First Name</th>
              <th scope="col">Middle Name</th>
              <th scope="col">Last Name</th>
              <th scope="col">Course Unit</th>
              <th scope="col">Edit</th>
              <th scope="col">Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td>course name</td>
              <td><a class="btn btn-primary" href="#" role="button">Edit</a></td>
              <td><a class="btn btn-primary" href="#" role="button">Delete</a></td>
            </tr>
          </tbody>
        </table>
      
      </section>
    </section>
</div>

 -->
 <!-- <div>  

  <form [formGroup]="SchoolDetailsForm" (submit)="SaveData()">  
      <table>  
          <tr>  
              <td>  
                  <b>School Name</b>  
              </td>  
              <td>  
                  <input  type="text" formControlName="SchoolName" />  
              </td>  
          </tr>  
      </table>  
      <br/>  
      <table>  
          <tr formArrayName="ClassDetails" *ngFor="let cd of SchoolDetailsForm.controls.ClassDetails.controls ;let i=index;">  
              <td formGroupName={{i}}>  
                  <b>   
    Class {{cd.get('Class').value}}  
   </b>  
                  <input  type="text" formControlName="TotalStudent" placeholder="Total Student" />  
                  <input  type="text" formControlName="GradeAStudent" placeholder="Total Grade A Student" />  
                  <input  type="text" formControlName="GradeBStudent" placeholder="Total Grade B Student" />  
              </td>  
          </tr>  
          <tr>  
              <td>  
                  <input type="submit" value="Click Me" />  
              </td>  
          </tr>  
      </table>  
  </form>  
</div>     -->
<!-- 
<div formArrayName="aliases">
  <h3>Aliases</h3> <button (click)="addAlias()">Add Alias</button>

  <div *ngFor="let alias of aliases.controls; let i=index">
    The repeated alias template
    <label>
      Alias:
      <input type="text" [formControlName]="i">
    </label>
  </div>
</div> -->