<div class="container-md">
  
  <form>
    <h3> Search Department </h3>
    <section class="row">      
      <section class="col-sm-6 col-md-3">
          <div class="form-group">
            <label for="departName">Department Name</label>
            <input type="text" class="form-control" name="departName" aria-describedby="semesterDateName"
            [(ngModel)]='listFilter' placeholder="Enter Department Name">           
          </div>        
      </section>      
      
    </section>    
  </form>  
    
    <h4>Department</h4>
    <section class="row">
      <section class="col-sm-12 col-md-12">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Department Code</th>
              <th scope="col">Department Name</th>
              <th scope="col">Edit</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let row of filteredSearch">
              <tr>
                <td>{{row.departCode}}</td>
                <td>{{row.departName}}</td>
                <td><a class="btn btn-primary" 
                     [routerLink]="['/structure/departmentEdit',row.departCode]" role="button">Edit</a></td>
              </tr>
             </ng-container>
          </tbody>
        </table>
      
      </section>
    </section>

</div>

