
<div class="container-md">
  
  <form (ngSubmit)="search()" [formGroup]="generalForm" novalidate autocomplete="false">
    <h1>{{pageTitle}}</h1>
    <h4>PLease select the semester and semester Number  to search Marks</h4>
    <section class="row">      
      <section class="col-sm-6 col-md-5">
        <div class="form-group ">         
          <label for="semesterDateCode" class="label-margins">semester Date</label>
            <select class="form-control" name="semesterDateCode"
            formControlName ="semesterDateCode" class="form-select">
              <ng-container *ngFor="let rowSem of  rowsSemesterDate">
                <option value={{rowSem.semesterDateCode}}>{{rowSem.semesterDateName }}</option>
              </ng-container>
              
            </select>
        </div>
      </section>
      <section class="col-sm-6 col-md-4">
        <div class="form-group ">         
          <label for="semesterNum" class="label-margins">semester Num </label> 
          <select (click)= "clearCourses()"  class="form-control" name="semesterNum" class="form-select"
          formControlName ="semesterNum">
            <ng-container *ngFor="let rowSemName of  rowsSemesterName">
              <option value={{rowSemName.semesterNum}}>{{rowSemName.semesterName }}</option>
            </ng-container>
            
          </select> 
        </div>
      </section>
    </section>    
    <h4>Please select the course and Courseunit to search Marks</h4>
    <section class="row">
      <section class="col-sm-6 col-md-5">        
        <div class="form-group">         
          <label for="courseCode" class="label-margins">Course Name</label>
           <select (click)="searchCourseUnits()" class="form-control" name="courseCode"
            formControlName ="courseCode" class="form-select">
              <ng-container *ngFor="let rowCou of  rowsCourse">
                <option value={{rowCou.courseCode}}>{{rowCou.courseName}}</option>
              </ng-container>
              
            </select>
        </div>
      </section>
      <section class="col-sm-6 col-md-5">        
        <div class="form-group">         
          <label for="courseUnitCode" class="label-margins">Course Unit Name</label>
            <select class="form-control" name="courseUnitCode"
            formControlName ="courseUnitCode" class="form-select">
              <ng-container *ngFor="let rowCu of  rowsCourseUnit">
                <option value={{rowCu.courseUnitCode}}>{{rowCu.courseUnitCode}}  {{rowCu.courseUnitName}}</option>
              </ng-container>
              
            </select>
        </div>
      </section>

    </section>
    <section class="row">
      <section class="col-sm-6 col-md-3">
        <div class="form-group">
          <button 
          class="btn btn-primary mb-2"
          type="submit" 
          [title]="generalForm.valid ? 'save data ': 'Disabled until the all fields are filled'"
          [disabled]="!generalForm.valid"          
          >Search</button> &nbsp;
          <button class="btn btn-primary mb-2"
                type="button"
                title="Clear your edits"
                (click)="clears()">
          Cancel
        </button>
        </div>
      </section> 
    </section>
  
 
  </form> 
  <h4>Marks</h4>
  <section class="row">
    <section class="col-sm-12 col-md-12">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">studentId</th>
            <th scope="col">fname</th>
            <th scope="col">lname</th>
            <th scope="col">coursework</th>
            <th scope="col">midExam</th>
            <th scope="col">finalExam</th>
            <th scope="col">totalExam</th>
            <th scope="col">gradeCode</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>

          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let row of rowsMark">
            <tr>
              <td>{{row.studentId}}</td>
              <th >{{row.fname}}</th>
              <th>{{row.lname}}</th>
              <td>{{row.coursework}}</td>
              <td>{{row.midExam}}</td>
              <td>{{row.finalExam}}</td>
              <td>{{row.totalMark}}</td>
              <td>{{row.gradeCode}}</td>
              <td><a  class="btn btn-primary" target="_blank" rel="noreferrer noopener"
                [routerLink]= "['/registry/markEdit', row.markNum]"
                >Edit</a></td>
              <td><button class="btn btn-primary mb-2"
                type="button"
                (click)="deleteOne(row.markNum)">
                  Delete
                </button></td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    
    </section>
  </section>
</div> 
   


