
<div class="container-md">
  
  <form>
    <h3> Intake </h3>
    <section class="row">      
      <section class="col-sm-6 col-md-3">
        <div class="form-group ">         
          <label for="intakeName" class="label-margins">intake Name</label>
            <select class="form-control" name="intakeName" class="form-select">
              <option>Intake</option>
            </select>
        </div>
      </section>
      <section class="col-sm-6 col-md-3">        
        <div class="form-group">         
          <label for="studyprogramme" class="label-margins">Study Programme</label>
            <select class="form-control" name="studyprogramme" class="form-select">
              <option>StudyProgramme</option>
            </select>
        </div>
      </section> 
      <section class="col-sm-6 col-md-3">        
        <div class="form-group">         
          <label for="branchName" class="label-margins">Branch Name</label>
            <select class="form-control" name="branchName" class="form-select">
              <option>choose branch Name</option>
            </select>
        </div>
      </section> 
      <section class="col-sm-6 col-md-3">
        <button type="submit" class="btn btn-primary mb-2">Search</button> 
      </section>
    </section>    
  </form>  
    
    <h4>Student Names</h4>
    <section class="row">
      <section class="col-sm-12 col-md-12">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Student Id</th>
              <th scope="col">First Name</th>
              <th scope="col">Middle Name</th>
              <th scope="col">Last Name</th>
              <th scope="col">Edit</th>
              <th scope="col">Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td><a class="btn btn-primary" href="#" role="button">Edit</a></td>
              <td><a class="btn btn-primary" href="#" role="button">Delete</a></td>
            </tr>
          </tbody>
        </table>
      
      </section>
    </section>






</div>


