
<div class="container-md">
  
  <form novalidate [formGroup]="generalForm" (ngSubmit)="save()" >
    <h3> Intake </h3>
    <section class="row">      
      <section class="col-sm-12 col-md-3">
        <div class="form-group">         
          <label for="IntakDate" class="label-margins">Intake Name</label>
            <select class="form-control"  class="form-select"
              id="intakedate"
              formControlName="IntakeDate"
              [ngClass]="{'is-invalid': displayMessage.IntakeDate}">
              <option></option>
              <option>choose intake</option>
            </select>
            <span class="warning-red">
              {{ displayMessage.IntakeDate}}
            </span>
        </div>
      </section>
      <section class="col-sm-12 col-md-4">        
        <div class="form-group">         
          <label for="branchNum" class="label-margins">Branch Name</label>
            <select class="form-control" class="form-select"
              id="branchNum"
              formControlName="branchNum"
              [ngClass]="{'is-invalid': displayMessage.branchNum}"
            >
              <option></option>
              <option>choose Branch</option>
            </select>
            <span class="warning-red">
              {{ displayMessage.branchNum}}
            </span>
        </div>
      </section>
      <section class="col-sm-12 col-md-4">        
        <div class="form-group">         
          <label for="studyprogramme" class="label-margins">Study </label>
            <select class="form-control"  class="form-select"
              id="studyprogramme"
              formControlName="studyprogramme"
              [ngClass]="{'is-invalid': displayMessage.studyprogramme}"
            >
              <option></option>
              <option>choose StudyProgramme</option>
            </select>
            <span class="warning-red">
              {{ displayMessage.studyprogramme}}
            </span>
        </div>
      </section> 
      <section class="col-sm-6 col-md-1">
        <button type="submit" class="btn btn-primary mb-2">Search</button> 
      </section>
     
    </section>
    
  </form>  
    
    <h4>Student Names</h4>
    <section class="row">
      <section class="col-sm-12 col-md-12">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Student Id</th>
              <th scope="col">First Name</th>
              <th scope="col">Middle Name</th>
              <th scope="col">Last Name</th>
              <th scope="col">Edit</th>
              <th scope="col">Delete</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let row of rows">
              <tr>
                <td>{{row.studentId}}</td>
                <td>{{row.fname }}</td>
                <td>{{row.mname}}</td>
                <td>{{row.lname}}</td>
                <!--   [routerLink]="['/adminstudentmenu/editStudentApplication',row.studentId]"-->
                <!-- encordUrl(row.studentId) -->
                <td><a class="btn btn-primary" 
                  
                  [routerLink]="['/adminstudentmenu/editStudentApplication',  stringReplace(row.studentId)]"
                     role="button">Edit</a></td>
                <td><a class="btn btn-primary" href="#" role="button">Delete</a></td>
              </tr>
            </ng-container>
            
          </tbody>
        </table>
      
      </section>
    </section>






</div>


