<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto"> 
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="registryDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Registry
        </a>
        <div class="dropdown-menu" aria-labelledby="registryDropdown"> 

          <!-- <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/registry']" routerLinkActive="active" >Student Applications</a>
          </li> -->
          <!-- <li class="nav-item">
            <a class="nav-link active"  [routerLink]="['/registry','admitstudent']" 
               routerLinkActive="active"> Admit Student</a>
          </li> -->
          <!-- <li class="nav-item">
            <a class="nav-link active"  [routerLink]="['/registry','admittedstudents']" 
               routerLinkActive="active"> Admitted Students</a>
          </li> -->
            <li class="nav-item">
              <a class="nav-link active"  [routerLink]="['/registry','semestercourseunitSearch']" 
               routerLinkActive="active"> Allocated Course Units Search </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active"  [routerLink]="['/registry','semestercourseunitAllocate']" 
               routerLinkActive="active"> Allocate Course Units</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active"  [routerLink]="['/registry','enrolledstudentSearch']" 
               routerLinkActive="active"> Enrolled Student Search</a>
            </li>
            <!-- <li class="nav-item"> 
              <a class="nav-link active"  [routerLink]="['/registry','enrolledstudents']" 
               routerLinkActive="active"> Enrolled Students</a>
            </li>  -->
            <li class="nav-item"> 
              <a class="nav-link active"  [routerLink]="['/registry','enrollstudent']" 
               routerLinkActive="active"> Enroll Semester Students</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active"  [routerLink]="['/registry','markSearch']" 
               routerLinkActive="active">  Marks search</a>
            </li> 
            <li class="nav-item">
              <a class="nav-link active"  [routerLink]="['/registry/markAdd']" 
               routerLinkActive="active"> Mark Add</a>
            </li> 
            <!-- <li class="nav-item">
              <a class="nav-link active"  [routerLink]="['/registry','editmarks']" 
               routerLinkActive="active"> Edit Marks</a>
            </li>   -->
            <!-- <li class="nav-item">
              <a class="nav-link active"  [routerLink]="['/registry','importattendance']" 
               routerLinkActive="active"> Import Attendance </a>
            </li>  -->
            <li class="nav-item">
              <a class="nav-link active"  [routerLink]="['/registry','studentall']" 
               routerLinkActive="active"> All students </a>
            </li>      
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="structureDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Structure
        </a>
        <div class="dropdown-menu" aria-labelledby="structureDropdown">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/structure','intakeSearch']" routerLinkActive="active" >Intake Search</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" 
            [routerLink]="['/structure/intakeEdit', 0]" routerLinkActive="active" >Intake Add</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active"  [routerLink]="['/structure','semesternameSearch']" 
               routerLinkActive="active"> Semester Name Search</a>
          </li>
          <li class="nav-item">         
            <a class="nav-link active"  [routerLink]="['/structure/','semesternameEdit', 0]" 
               routerLinkActive="active"> Semester Name Add</a>
          </li>
          <li class="nav-item">
              <a class="nav-link active"  [routerLink]="['/structure','semesterdateSearch']" 
               routerLinkActive="active"> Semester Date Search </a>
          </li>
          <li class="nav-item">         
            <a class="nav-link active"  [routerLink]="['/structure/','semesterdateEdit', 0]" 
                 routerLinkActive="active"> Semester Date Add</a>
          </li>
            <li class="nav-item">
              <a class="nav-link active"  [routerLink]="['/structure','departmentSearch']" 
               routerLinkActive="active"> Department Search</a>
            </li> 
            <li class="nav-item">  
              <a class="nav-link active"  [routerLink]="['/structure/','departmentEdit', 0]" 
                   routerLinkActive="active"> Department Add</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active"  [routerLink]="['/structure','courseSearch']" 
               routerLinkActive="active"> Course Search</a>
            </li> 
            <li class="nav-item">  
              <a class="nav-link active"  [routerLink]="['/structure/','courseEdit', 0]" 
                   routerLinkActive="active"> Course Add</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active"  [routerLink]="['/structure','courseunitSearch']" 
               routerLinkActive="active"> Course Unit Search </a>
            </li> 
            <li class="nav-item">  
              <a class="nav-link active"  [routerLink]="['/structure/','courseunitEdit', 0]" 
                   routerLinkActive="active"> Course Unit Add</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active"  [routerLink]="['/structure','gradeSearch']" 
               routerLinkActive="active"> Grade Search</a>
            </li>
            <li class="nav-item">  
              <a class="nav-link active"  [routerLink]="['/structure/','gradeEdit', 0]" 
                   routerLinkActive="active"> Grade Add</a>
            </li> 
            <li class="nav-item">
              <a class="nav-link active" > Class Award Search </a>
            </li> 
            <!-- <li class="nav-item">  
              <a class="nav-link active"  [routerLink]="['/structure/','classawardEdit', 0]" 
                   routerLinkActive="active"> Class Award Add</a>
            </li> -->


        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="adminDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Admin
        </a>
        <div class="dropdown-menu" aria-labelledby="adminDropdown">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/adminmenu/adminEdit/0']" routerLinkActive="active" >Add Admin</a>
          </li>
        
            <li class="nav-item">
              <a class="nav-link active"  [routerLink]="['/adminmenu','adminSearch']" 
               routerLinkActive="active"> Search Admin</a>
            </li> 
        </div>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Student
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown"> 
          <li class="nav-item">
            <!-- // ['/adminstudentmenu','editStudentApplication'] -->
            <a class="nav-link active"  [routerLink]="['/adminstudentmenu/editStudentApplication/0']" 
               routerLinkActive="active"> Add </a>
          </li>
            <!-- <li class="nav-item">
              <a class="nav-link active"  [routerLink]="['/adminstudentmenu','deleteStudentApplication']" 
               routerLinkActive="active"> Delete Application </a>
            </li> -->
            <li class="nav-item">
              <a class="nav-link active"  [routerLink]="['/adminstudentmenu','studentApplicationSearch']" 
               routerLinkActive="active"> Search Applications</a>
            </li> 
        </div>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" href="#">Reports</a>
      </li>    
      <li class="nav-item">
        <a class="nav-link" href="#">Communications</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Payments</a>
      </li>
     
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>


  <!-- Footer -->
  <footer>
    <!-- <form [formGroup]="profileForm">  
      <label>
        First Name:
        <input type="text" formControlName="fname">
      </label>
       
    </form> -->
      
  </footer>




