<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto"> 
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="registryDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Registry
        </a>
        <div class="dropdown-menu" aria-labelledby="registryDropdown"> 

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/registry']" routerLinkActive="active" >Student Applications</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active"  [routerLink]="['/registry','admitstudent']" 
               routerLinkActive="active"> Admit Student</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active"  [routerLink]="['/registry','admittedstudents']" 
               routerLinkActive="active"> Admitted Students</a>
          </li>
            <li class="nav-item">
              <a class="nav-link active"  [routerLink]="['/registry','semestercourseunits']" 
               routerLinkActive="active"> Allocate Course Units </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active"  [routerLink]="['/registry','enrollstudent']" 
               routerLinkActive="active"> Enroll Student</a>
            </li>
            <li class="nav-item"> 
              <a class="nav-link active"  [routerLink]="['/registry','enrolledstudents']" 
               routerLinkActive="active"> Enrolled Students</a>
            </li> 
            <li class="nav-item"> 
              <a class="nav-link active"  [routerLink]="['/registry','unenrolledstudents']" 
               routerLinkActive="active"> Unenrolled Students</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active"  [routerLink]="['/registry','entermarks']" 
               routerLinkActive="active"> Enter Marks</a>
            </li> 
            <li class="nav-item">
              <a class="nav-link active"  [routerLink]="['/registry','viewmarks']" 
               routerLinkActive="active"> View Marks</a>
            </li> 
            <li class="nav-item">
              <a class="nav-link active"  [routerLink]="['/registry','editmarks']" 
               routerLinkActive="active"> Edit Marks</a>
            </li>  
            <li class="nav-item">
              <a class="nav-link active"  [routerLink]="['/registry','importattendance']" 
               routerLinkActive="active"> Import Attendance </a>
            </li> 
            <li class="nav-item">
              <a class="nav-link active"  [routerLink]="['/registry','studentall']" 
               routerLinkActive="active"> All students </a>
            </li>      
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="structureDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Structure
        </a>
        <div class="dropdown-menu" aria-labelledby="structureDropdown">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/structure']" routerLinkActive="active" >Set Intake</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active"  [routerLink]="['/structure','semestername']" 
               routerLinkActive="active"> Set Semester Name</a>
          </li>
            <li class="nav-item">
              <a class="nav-link active"  [routerLink]="['/structure','semesterdate']" 
               routerLinkActive="active"> Set Semester Date </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active"  [routerLink]="['/structure','department']" 
               routerLinkActive="active"> Department</a>
            </li> 
            <li class="nav-item">
              <a class="nav-link active"  [routerLink]="['/structure','course']" 
               routerLinkActive="active"> Course</a>
            </li> 
            <li class="nav-item">
              <a class="nav-link active"  [routerLink]="['/structure','courseunit']" 
               routerLinkActive="active"> Course Unit </a>
            </li> 
            <li class="nav-item">
              <a class="nav-link active"  [routerLink]="['/structure','grade']" 
               routerLinkActive="active"> Grade</a>
            </li> 
            <li class="nav-item">
              <a class="nav-link active"  [routerLink]="['/structure','marks']" 
               routerLinkActive="active"> Marks</a>
            </li> 
            <li class="nav-item">
              <a class="nav-link active"  [routerLink]="['/structure','classaward']" 
               routerLinkActive="active"> Class Award </a>
            </li> 


        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="adminDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Admin
        </a>
        <div class="dropdown-menu" aria-labelledby="adminDropdown">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/adminmenu']" routerLinkActive="active" >Add Admin</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active"  [routerLink]="['/adminmenu','adminEdit']" 
               routerLinkActive="active"> Edit Admin</a>
          </li>
            <li class="nav-item">
              <a class="nav-link active"  [routerLink]="['/adminmenu','adminDelete']" 
               routerLinkActive="active"> Delete Admin </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active"  [routerLink]="['/adminmenu','adminSearch']" 
               routerLinkActive="active"> Search Admin</a>
            </li> 
        </div>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Student
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown"> 
          <!-- <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/adminstudentmenu','generic2']" routerLinkActive="active" >generic2</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/adminstudentmenu','generic']" routerLinkActive="active" >generic</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/adminstudentmenu','formSample']" routerLinkActive="active" >form sample</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/adminstudentmenu']" routerLinkActive="active" >Student Application</a>
          </li> -->
          <li class="nav-item">
            <!-- // ['/adminstudentmenu','editStudentApplication'] -->
            <a class="nav-link active"  [routerLink]="['/adminstudentmenu/editStudentApplication/0']" 
               routerLinkActive="active"> Add </a>
          </li>
            <!-- <li class="nav-item">
              <a class="nav-link active"  [routerLink]="['/adminstudentmenu','deleteStudentApplication']" 
               routerLinkActive="active"> Delete Application </a>
            </li> -->
            <li class="nav-item">
              <a class="nav-link active"  [routerLink]="['/adminstudentmenu','studentApplicationSearch']" 
               routerLinkActive="active"> Search Applications</a>
            </li> 
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Reports</a>
      </li>    
      <li class="nav-item">
        <a class="nav-link" href="#">Communications</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Payments</a>
      </li>
     
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>


  <!-- Footer -->
  <footer>
    <!-- <form [formGroup]="profileForm">  
      <label>
        First Name:
        <input type="text" formControlName="fname">
      </label>
       
    </form> -->
      
  </footer>




