
<div class="container-md">
  
  <form (ngSubmit)="saves()" [formGroup]="generalForm" novalidate autocomplete="false">
    <h1>{{pageTitle}} </h1>
    <section class="row">      
      <section class="col-sm-6 col-md-2">
        <div class="form-group">
          <label for="departCode"> Department Code </label>
          <input 
            type="text" 
            class="form-control" 
            name="departCode" aria-describedby="departCode"
            formControlName ="departCode"
            [ngClass]="{'is-invalid': displayMessage.departCode}"> 
          <span class="warning-red" *ngIf="displayMessage.departCode">
            {{ displayMessage.departCode}}
          </span>          
        </div>
      </section>
      <section class="col-sm-6 col-md-5">
        <div class="form-group">
          <label for="departName">Department Name </label>
          <input 
            type="text" 
            class="form-control" 
            name="departName" aria-describedby="departName"
            formControlName ="departName"
            [ngClass]="{'is-invalid': displayMessage.departName}"> 
          <span class="warning-red" *ngIf="displayMessage.departName">
            {{ displayMessage.departName}}
          </span>         
        </div>
      </section>
      <section class="col-sm-6 col-md-5">
        <div class="form-group">
          <label for="description">Description </label>
          <input 
            type="text" 
            class="form-control" 
            name="description" aria-describedby="description"
            formControlName ="description"
            [ngClass]="{'is-invalid': displayMessage.description}"> 
          <span class="warning-red" *ngIf="displayMessage.description">
            {{ displayMessage.description}}
          </span>         
        </div>
      </section> 
      <section class="col-sm-6 col-md-2">
        <div class="form-group">
          <button 
          class="btn btn-primary mb-2"
          type="submit" 
          [title]="generalForm.valid ? 'save data ': 'Disabled until the all fields are filled'"
          [disabled]="!generalForm.valid"          
          >Save</button> &nbsp;
        <button class="btn btn-primary mb-2"
                type="button"
                title="Clear your edits"
                (click)="clears()">
          Cancel
        </button> &nbsp;
        <button class="btn btn-primary mb-2"
                type="button"
                (click)="deleteOne()">
          Delete
        </button>
        </div>
      </section>
    </section>  
  </form>  

</div> 
   

