
<div class="container-md">
  
  <form (ngSubmit)="saves()" [formGroup]="generalForm" novalidate autocomplete="false">
    <h1>{{pageTitle}}</h1>
    <section class="row">      
      <section class="col-sm-6 col-md-3">
        <div class="form-group ">         
          <label for="semesterDateCode" class="label-margins">semester Date</label>
            <select class="form-control" name="semesterDateCode"
            formControlName ="semesterDateCode" class="form-select">
              <ng-container *ngFor="let rowSem of  rowsSemesterDate">
                <option value={{rowSem.semesterDateCode}}>{{rowSem.semesterDateName }}</option>
              </ng-container>
              
            </select>
        </div>
      </section>
      <section class="col-sm-6 col-md-4">        
        <div class="form-group">         
          <label for="courseCode" class="label-margins">Course Name</label>
            <!-- <select class="form-control" name="admincode" class="form-select">
              <option>admincode</option>
            </select> -->
            <select class="form-control" name="courseCode"
            formControlName ="courseCode" class="form-select">
              <ng-container *ngFor="let rowCou of  rowsCourse">
                <option value={{rowCou.courseCode}}>{{rowCou.courseName}}</option>
              </ng-container>
              
            </select>
        </div>
      </section> 
      <section class="col-sm-6 col-md-3">
        <div class="form-group ">         
          <label for="semesterNum" class="label-margins">semester Num </label> 
          <select class="form-control" name="semesterNum" class="form-select"
          formControlName ="semesterNum">
            <ng-container *ngFor="let rowSemName of  rowsSemesterName">
              <option value={{rowSemName.semesterNum}}>{{rowSemName.semesterName }}</option>
            </ng-container>
            
          </select> 
        </div>
      </section>
      <section class="col-sm-6 col-md-1">
        <div class="form-group ">         
          <a class="btn btn-primary" class="btn btn-primary mb-2 button-margin" role="button" (click)="search()">Search</a> 
        </div>
      </section>
      <!-- branchNum -->
      <!-- <section class="col-sm-6 col-md-4">        
        <div class="form-group">         
          <label for="semesterDateCode" class="label-margins">Branch Name</label>
            <select class="form-control" name="semesterDateCode" class="form-select">
              <option>choose semesterdate name</option>
            </select>
            <input 
            type="text" 
            class="form-control" 
            name="branchNum" 
            formControlName ="branchNum"
            [ngClass]="{'is-invalid': displayMessage.branchNum}"> 
          <span class="warning-red" *ngIf="displayMessage.branchNum">
            {{ displayMessage.branchNum}}
          </span> 
        </div>
      </section>  -->

 
    </section>    
 
  </form>  
  <section class="row">
    <section class="col-sm-12 col-md-12">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Course Unit Code</th>
            <th scope="col">Course Unit Name</th>
            <th scope="col">Admin Name</th>
            <th scope="col">Assign</th>
            
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let row of rowsCourseUnit">
            <tr>
              <td>{{row.courseUnitCode}}</td>
              <td>{{row.courseUnitName}}</td>
               <td></td>
               <!-- ['/registry/semestercourseunitAdd', { semCode: getSemesterDateCode(), courseCode:getCourseCode(),cu:getCourseUnitCode(),semNum: getSemesterNum()}] -->
              <td><a class="btn btn-primary" 
                  [routerLink]= "['/registry/semestercourseunitAdd', { semCode: getSemesterDateCode(), courseCode:getCourseCode(),cu:getCourseUnitCode(),semNum: getSemesterNum()}]">Assign</a></td>
            </tr>
            <!-- [routerLink]="[{ outlets:{ popup: ['messages']}}]" -->
          </ng-container>
        </tbody>
      </table>
      
    </section>
  </section>
   <section class="row">
    <router-outlet name="saveAllocation"></router-outlet>uyuyu
   </section>
  
</div>


