
<div class="container-md">
  
  <form (ngSubmit)="saves()" [formGroup]="generalForm" novalidate autocomplete="false">
    <h1>{{pageTitle}}</h1>
    <section class="row">  
  
      <section class="col-sm-6 col-md-3">
        <div class="form-group">
          <label for="gradeCode"> Grade Code </label>
          <input 
            type="text" 
            class="form-control" 
            name="gradeCode" 
            formControlName ="gradeCode"
            [ngClass]="{'is-invalid': displayMessage.gradeCode}"> 
          <span class="warning-red" *ngIf="displayMessage.gradeCode">
            {{ displayMessage.gradeCode}}
          </span>           
        </div>
      </section>
      <section class="col-sm-6 col-md-4">
        <div class="form-group">
          <label for="gradeRange">Grade Range </label>
          <input 
            type="text" 
            class="form-control" 
            name="gradeRange" 
            formControlName ="gradeRange"
            [ngClass]="{'is-invalid': displayMessage.gradeRange}"> 
          <span class="warning-red" *ngIf="displayMessage.gradeRange">
            {{ displayMessage.gradeRange}}
          </span>          
        </div>
      </section>
      <section class="col-sm-6 col-md-3">
        <div class="form-group">
          <label for="gradeScore">Grade Score </label>
          <input 
            type="text" 
            class="form-control" 
            name="gradeScore" 
            formControlName ="gradeScore"
            [ngClass]="{'is-invalid': displayMessage.gradeScore}"> 
          <span class="warning-red" *ngIf="displayMessage.gradeScore">
            {{ displayMessage.gradeScore}}
          </span>          
        </div>
      </section>
    </section> 
    <section class="row">
      <section class="col-sm-6 col-md-6">
        <div class="form-group">
          <button 
          class="btn btn-primary mb-2"
          type="submit" 
          [title]="generalForm.valid ? 'save data ': 'Disabled until the all fields are filled'"
          [disabled]="!generalForm.valid"          
          >Save</button> &nbsp;
          <button class="btn btn-primary mb-2"
                type="button"
                title="Clear your edits"
                (click)="clears()">
          Cancel
        </button> &nbsp;
        <button class="btn btn-primary mb-2"
                type="button"
                (click)="deleteOne()">
          Delete
        </button>
        </div>
      </section>
   </section> 
  </form>  

</div> 
   



