<div class="container-md">
  <h2> Enrolled Students for the Semester</h2>
  <form>
    <h3> Intake </h3>
    <section class="row">      
      <section class="col-sm-6 col-md-2">
        <div class="form-group ">         
          <label for="intakedate" class="label-margins">intake Name</label>
            <select class="form-control" name="intakedate" class="form-select">
              <option>Intake</option>
            </select>
        </div>
      </section>
      <section class="col-sm-6 col-md-4">        
        <div class="form-group">         
          <label for="semesterDateCode" class="label-margins">semesterdate name</label>
            <select class="form-control" name="semesterDateCode" class="form-select">
              <option>choose semesterdate name</option>
            </select>
        </div>
      </section> 
      <section class="col-sm-6 col-md-3">        
        <div class="form-group">         
          <label for="coursecode" class="label-margins">Course code</label>
            <select class="form-control" name="coursecode" class="form-select">
              <option>course code</option>
            </select>
        </div>
      </section> 
      <section class="col-sm-6 col-md-2">
        <button type="submit" class="btn btn-primary mb-2">Search</button> 
      </section>
    </section>    
  </form> 


    <h4>Student Names</h4>
    <section class="row">
      <section class="col-sm-12 col-md-12">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Student Id</th>
              <th scope="col">First Name</th>
              <th scope="col">Middle Name</th>
              <th scope="col">Last Name</th>
              <th scope="col">Edit</th>
              <th scope="col">Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>course name</td>
              <td><a class="btn btn-primary" href="#" role="button">Edit</a></td>
              <td><a class="btn btn-primary" href="#" role="button">Delete</a></td>
            </tr>
          </tbody>
        </table>
      
      </section>
    </section>
</div>