
<div class="container-md">
  
  <form (ngSubmit)="saves()" [formGroup]="generalForm" novalidate autocomplete="false">
   <h1>{{pageTitle}}</h1>
   <section class="row">
      <section class="col-sm-6 col-md-6">
        <div class="form-group">
          <label for="departCode">depart Code </label>
          <input 
            type="text" 
            class="form-control" 
            name="departCode" 
            formControlName ="departCode"
            [ngClass]="{'is-invalid': displayMessage.departCode}"> 
          <span class="warning-red" *ngIf="displayMessage.departCode">
            {{ displayMessage.departCode}}
          </span>          
        </div>
      </section> 
   </section>

   <section class="row"> 
      <section class="col-sm-6 col-md-3">
         <div class="form-group">
            <label for="courseCode"> Course Code </label>
            <input 
              type="text" 
              class="form-control" 
              name="courseCode" 
              aria-describedby="courseCode"
              formControlName ="courseCode"
              [ngClass]="{'is-invalid': displayMessage.courseCode}"> 
            <span class="warning-red" *ngIf="displayMessage.courseCode">
              {{ displayMessage.courseCode}}
            </span>          
          </div>         
      </section>
      <section class="col-sm-6 col-md-3">
        <div class="form-group">
          <label for="courseName">Course Name </label>
          <input 
            type="text" 
            class="form-control" 
            name="courseName" 
            aria-describedby="courseName"
            formControlName ="courseName"
            [ngClass]="{'is-invalid': displayMessage.courseName}"> 
          <span class="warning-red" *ngIf="displayMessage.courseName">
            {{ displayMessage.courseName}}
          </span>          
        </div>
      </section> 
   </section>
   
   <section class="row">
        <section class="col-sm-6 col-md-6">
          <div class="form-group">
            <label for="description">Description </label>
            <input 
              type="text" 
              class="form-control" 
              name="description" 
              aria-describedby="description"
              formControlName ="description"
              [ngClass]="{'is-invalid': displayMessage.description}"> 
            <span class="warning-red" *ngIf="displayMessage.description">
              {{ displayMessage.description}}
            </span>          
          </div>
        </section>
      
   </section>
   <section class="row">
      <section class="col-sm-6 col-md-6">
        <div class="form-group">
          <button 
          class="btn btn-primary mb-2"
          type="submit" 
          [title]="generalForm.valid ? 'save data ': 'Disabled until the all fields are filled'"
          [disabled]="!generalForm.valid"          
          >Save</button> &nbsp;
          <button class="btn btn-primary mb-2"
                type="button"
                title="Clear your edits"
                (click)="clears()">
          Cancel
        </button> &nbsp;
        <button class="btn btn-primary mb-2"
                type="button"
                (click)="deleteOne()">
          Delete
        </button>
        </div>
      </section>
   </section>

     
  </form>
</div>


   



