
<div class="container-md">
  
  <form>
    <h3> Create Intake Date </h3>
    <section class="row">      
      <section class="col-sm-6 col-md-3">
        <div class="form-group">
          <label for="semesterDateCode">Semester DateCode </label>
          <input type="text" class="form-control" name="semesterDateCode" aria-describedby="semesterDateCode">          
        </div>
      </section>
      <section class="col-sm-6 col-md-3">
        <div class="form-group">
          <label for="intakeDate">intake Date </label>
          <input type="text" class="form-control" name="intakeDate" aria-describedby="intakeDate">          
        </div>
      </section>
      <section class="col-sm-6 col-md-2">
        <div class="form-group">
          <label for="semesterDateName">Semester Date Name </label>
          <input type="text" class="form-control" name="semesterDateName" aria-describedby="semesterDateName">          
        </div>
      </section> 
      <section class="col-sm-6 col-md-3">
        <div class="form-group">
          <label for="startDate">Start Date </label>
          <input type="text" class="form-control" name="startDate" aria-describedby="startDate">          
        </div>
      </section>
      <section class="col-sm-6 col-md-3">
        <div class="form-group">
          <label for="endDate">End Date </label>
          <input type="text" class="form-control" name="endDate" aria-describedby="endDate">          
        </div>
      </section>
      <section class="col-sm-6 col-md-3">
        <div class="form-group">
          <label for="sbranchNum">Branch Num </label>
          <input type="text" class="form-control" name="branchNum" aria-describedby="branchNum">          
        </div>
      </section>
      <section class="col-sm-6 col-md-3">
        <div class="form-group">
          <label for="studyProgramme">Study Programme </label>
          <input type="text" class="form-control" name="studyProgramme" aria-describedby="studyProgramme">          
        </div>
      </section>
      <section class="col-sm-6 col-md-3">
        <div class="form-group">
          <label for="semesterNum">Semester Num</label>
          <input type="text" class="form-control" name="semesterNum" aria-describedby="semesterNum">          
        </div>
      </section>
      <section class="col-sm-6 col-md-2">
        <div class="form-group">
          <button type="submit" class="btn btn-primary mb-2 button-margin">Save</button>     
        </div>
      </section>
    </section>  
  </form>  

</div> 
   
<div class="container-md">
  
  <form>
    <h3> Search Semester Dates </h3>
    <section class="row">      
      <section class="col-sm-6 col-md-3">
          <div class="form-group">
            <label for="semesterDateName">Semester Date Name</label>
            <input type="text" class="form-control" name="semesterDateName" aria-describedby="semesterDateName">          
          </div>        
      </section>      
      <section class="col-sm-6 col-md-8 button-margin">
        <button type="submit" class="btn btn-primary mb-2">Search</button> 
      </section>
    </section>    
  </form>  
    
    <h4>Semester Dates</h4>
    <section class="row">
      <section class="col-sm-12 col-md-12">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Semester Date Code</th>
              <th scope="col">Semester Date Name</th>
              <th scope="col">Edit</th>
              <th scope="col">Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Otto</td>
              <td>@mdo</td>
              <td><a class="btn btn-primary" href="#" role="button">Edit</a></td>
              <td><a class="btn btn-primary" href="#" role="button">Delete</a></td>
            </tr>
          </tbody>
        </table>
      
      </section>
    </section>








 
  






</div>


