
<div class="container-md">
  
  <form (ngSubmit)="saves()" [formGroup]="generalForm" novalidate autocomplete="false">
    <h3> {{pageTitle}} </h3>
    <section class="row">
      <section class="col-sm-6 col-md-6">
        <div class="form-group">
          <label for="semesterDateName">Semester Date Name </label>
          <input 
            type="text" 
            class="form-control" 
            name="semesterDateName" 
            aria-describedby="semesterDateName"
            formControlName ="semesterDateName"
            [ngClass]="{'is-invalid': displayMessage.semesterDateName}">  
            <span class="warning-red" *ngIf="displayMessage.semesterDateName">
              {{ displayMessage.semesterDateName}}
            </span>           
        </div>
      </section> 
    </section>
    <section class="row">      
      <section class="col-sm-6 col-md-3">
        <div class="form-group">
          <label for="startDate">Start Date </label>
          <input 
          type="date" 
          class="form-control"
           name="startDate" 
           aria-describedby="startDate"
           formControlName ="startDate"
            [ngClass]="{'is-invalid': displayMessage.startDate}"> 
          <span class="warning-red" *ngIf="displayMessage.startDate">
            {{ displayMessage.startDate}}
          </span>  

        </div>
      </section>
      <section class="col-sm-6 col-md-3">
        <div class="form-group">
          <label for="endDate">End Date </label>
          <input 
            type="date" 
            class="form-control" 
            name="endDate" 
            aria-describedby="endDate"
            formControlName ="endDate"
            [ngClass]="{'is-invalid': displayMessage.endDate}"> 
          <span class="warning-red" *ngIf="displayMessage.endDate">
            {{ displayMessage.endDate}}
          </span>  
        </div>
      </section>
      
    </section>
    <section class="row">
      <section class="col-sm-6 col-md-3">
        <div class="form-group">
          <label for="studyProgramme">Study Programme </label>
          <input 
            type="text" class="form-control" name="studyProgramme" aria-describedby="studyProgramme"  
            formControlName ="studyProgramme"
            [ngClass]="{'is-invalid': displayMessage.studyProgramme}"
            
            maxlength="3"
            > 
          <span class="warning-red" *ngIf="displayMessage.studyProgramme">
            {{ displayMessage.studyProgramme}}
          </span>         
        </div>
      </section>
      <section class="col-sm-6 col-md-3">
        <div class="form-group">
          <label for="semesterDateCode">Semester DateCode </label>
          <input 
          type="text" 
          class="form-control" 
          name="semesterDateCode" aria-describedby="semesterDateCode"
          formControlName ="semesterDateCode"
            [ngClass]="{'is-invalid': displayMessage.semesterDateCode}"
            maxlength="11"
            disabled>  
            <span class="warning-red" *ngIf="displayMessage.semesterDateCode">
              {{ displayMessage.semesterDateCode}}
            </span>        
        </div>
      </section>
      
    </section> 
    <section class="row">
      <section class="col-sm-6 col-md-2">
        <div class="form-group">
          <button class="btn btn-primary mb-2"
          type="submit" 
          [title]="generalForm.valid ? 'save data ': 'Disabled until the all fields are filled'"
          [disabled]="!generalForm.valid">Save</button> &nbsp;
          <a class="btn btn-primary" class="btn btn-primary mb-2 button-margin" role="button" (click)="deleteOne()">Delete</a>     
        </div>
      </section>
    </section> 
  </form>  

</div> 
   



