
<div class="container-md">
  
  <form>
    <h3> Create Class</h3>
    <section class="row">   
      <section class="col-sm-6 col-md-4">
        <div class="form-group">
          <label for="className"> Class Name </label>
          <input type="text" class="form-control" name="className" aria-describedby="className">          
        </div>
      </section>
      <section class="col-sm-6 col-md-4">
        <div class="form-group">
          <label for="classScore">Class Score </label>
          <input type="text" class="form-control" name="classScore" aria-describedby="classScore">          
        </div>
      </section>
           
      <section class="col-sm-6 col-md-4">
        <div class="form-group">
          <button type="submit" class="btn btn-primary mb-2 button-margin">Save</button>     
        </div>
      </section>
    </section>  
  </form>  

</div> 
   
<div class="container-md">
  
  <form>
    <h3> Search Class </h3>
    <section class="row">      
      <section class="col-sm-6 col-md-3">
          <div class="form-group">
            <label for="className">Class Name</label>
            <input type="text" class="form-control" name="className" aria-describedby="className">          
          </div>        
      </section>      
      <section class="col-sm-6 col-md-8 button-margin">
        <button type="submit" class="btn btn-primary mb-2">Search</button> 
      </section>
    </section>    
  </form>  
    
    <h4>Class</h4>
    <section class="row">
      <section class="col-sm-12 col-md-12">
        <table class="table table-striped">
          <thead>
            <tr>
              
              <th scope="col">Class Name</th>
              <th scope="col">Class Score</th>
              <th scope="col">Edit</th>
              <th scope="col">Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Otto</td>
              <td>@mdo</td>
              <td><a class="btn btn-primary" href="#" role="button">Edit</a></td>
              <td><a class="btn btn-primary" href="#" role="button">Delete</a></td>
            </tr>
          </tbody>
        </table>
      
      </section>
    </section>

</div>


